{% extends "base.html.twig" %}
{% block contenu %}
<div class="container-fluid bgAbout">
    <div class="row">
        <h1 class="ogCustom py-5 mx-auto text-center">
            Freelance UX Designer - Developpeur Web &amp; Mobile
        </h1>
    </div>
    <div class="card customCardAd py-3 col-10 offset-1 col-md-8 offset-md-2 text-center">
        <div class="card-body">
            <p class="card-text text-bold py-4" style="font-size: 34px;">
            Concevoir des interfaces interactives, simples, ludiques et accessibles à tous est notre priorité pour chaque projet.
            </p>
            <p class="card-text text-bold py-4" style="font-size: 34px;">L’ergonomie, la psychologie et la rigueur méthodologique sont une marque de fabrique, caractérisant notre travail, pour apporter à vos utilisateurs une expérience intuitive, sans frustration, vous permettant d’atteindre vos objectifs business.    
            </p>
            <p class="card-text text-bold py-4" style="font-size: 34px;">
                Montrez à vos clients que leurs besoins sont compris et que votre objectif est de les rendre heureux sur vos plateformes digitales.
            </p>
        </div>
      </div>
</div>
{% endblock %}