<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bgCustom py-0">
        <a class="navbar-brand p-0" href="/">
            <img class="custom-logo" src="/images/logoEWA.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#design">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#rechu">Recherche Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#anexp">Analyse Experte</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">A Propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
      </nav>

    {% block contenu %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <div class="container-fluid bgCustom">
        <footer>
            <ul class="nav nav-justified py-3">
                <li class="nav-item">
                    <p class="text-white">hello@ewa-design.fr</p>
                </li>
                <li class="nav-item">
                    <p class="text-white">E.W.A Design - Copyright © 2020</p>
                </li>
                <li class="nav-item">
                    <p class="text-white">Lorem ipsum</p>
                </li>
              </ul>
        </footer>
    </div>
</body>
</html>