{% extends "base.html.twig" %}

{% block contenu %}
<div class="container-fluid text-center px-0">
    <div class="card col border-0 py-5 jumbo text-center">
        <h2 class="text-warning">NOUS AVONS LES REPONSES POUR ATTEINDRE VOS OBJECTIFS WEB ET MOBILES</h2>
        <p class="text-white">La performance de vos plateformes interactives passe par la satisfaction de vos utilisateurs.
            Nous sommes  experts de la recherche utilisateur et UX design.</p>
            <button type="button" class="btn btn-warning col-8 col-md-2 offset-md-5 offset-2">
                <a class="text-white" href="/devis">
                    Devis gratuit
                </a>
            </button>
    </div>
</div>
<div class="container text-center mt-3">
    <div class="text-center">
        <h3 class="py-4">Vos Objectifs</h3>
        <div class="row my-5 text-center">
            <div class="card col-md-3 col-6 border-0">
                <img class="card-img-top iconeAd" src="/images/increase.svg" alt="Card image cap">
                <div class="card-body">

                  <p class="card-text mt-4">
                    Augmenter la performance de vos applications Web et Mobile.
                  </p>

                </div>
            </div>
            
            <div class="card col-md-3 col-6 border-0">
                <img class="card-img-top iconeAd" src="/images/customersatisfaction.svg" alt="Card image cap">
                <div class="card-body">
                
                <p class="card-text mt-4">
                Comprendre vos utilisateurs et leurs besoins.
                </p>
                
                </div>
            </div>
            
            <div class="card col-md-3 col-6 border-0">
                <img class="card-img-top iconeAd" src="/images/check.svg" alt="Card image cap">
                <div class="card-body">
                    
                    <p class="card-text mt-4">
                        Améliorer la convivialité de vos plateformes interactives.
                    </p>
                    
                </div>
            </div>

            <div class="card col-md-3 col-6 border-0">
                <img class="card-img-top iconeAd" src="/images/new.svg" alt="Card image cap">
                <div class="card-body">
                    
                    <p class="card-text mt-4">
                        Créer une nouvelle plateforme ou fonctionnalité interactive.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <h3 class="py-4">Nos Solutions</h3>
        <div class="row my-5">
            <div class="card col bgFumee"id="design">
                <div class="card-body">
                    <h4 class="card-title">Design</h4>
                    <div class="card-text">
                        <p>
                            Les actions ci-dessous visent à mettre en place de façon concrète les recommandations émanant des phases d’analyse et de conception.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="row my-5">
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/wireframe.svg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title">Wireframe</h4>
                <p class="card-text">
                    Schémas qui présentent les différentes zones d’une interface Web ou mobile. Les wireframes ne visent pas à définir la charte graphique et visuelle d’une interface mais ils mettent l’emphase sur l’expérience de navigation de l’utilisateur.
                </p>
                </div>
            </div>
            
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/prototype.svg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Prototype</h4>
                    <p class="card-text">
                        Création d’un prototype interactif de la future interface d’une application mobile ou d’un site. Permettant de réaliser des tests utilisateurs. Cette méthode permet de s’assurer que la réponse aux besoins des utilisateurs est atteinte avant même de développer. 
                    </p>
                </div>
            </div>
            
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/code.svg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Code</h4>
                    <p class="card-text">
                        Développement de l’aspect visuel du site web ou l’application mobile. Généralement, en accord avec l’interface testée avec le prototype fonctionnel.
                    </p>
                </div>
            </div>
        </div>
                  
    <div class="row my-5">
        <div class="card col bgFumee" id="rechu">
            <div class="card-body">
                <h4 class="card-title">Recherche Utilisateur</h4>
                <div class="card-text">
                    <p>
                        Les méthodes ci-dessous permettent une meilleur compréhension de la réalité des utilisateurs et permettent de valider ou d’orienter la conception/refonte d’un site web ou d’une application mobile.
                    </p>
                </div>
            </div>
        </div>
    </div>

        <div class="row my-5">
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/testing.svg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title">Tests Utilisateurs</h4>
                <p class="card-text">
                    De véritables utilisateurs sont invités à réaliser des actions et scénarios sur l’application Web ou mobile tout en verbalisant leurs attentes et leurs impressions. Cela permet d’identifier les points forts et les lacunes de l’expérience offerte par la plateforme.
                </p>
                
                </div>
            </div>
            
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/eye.svg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title">Eye Tracking</h4>
                <p class="card-text">
                    Mesure en temps réel de l’endroit où les utilisateurs regardent sur l’écran afin d’obtenir les informations qu’ils cherchent. Cela permet d’identifier les zones les plus regardes, celles qui sont regardées en premiers et celles qui sont évitées. Pour s’assurer que le contenu soit placé aux bons endroits de l’interface, en accord avec les habitudes des utilisateurs.
                </p>
                
                </div>
            </div>
            
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/interview.svg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Entrevues Individuelles</h4>
                    <p class="card-text">
                        Cette approche est axées sur la compréhension en profondeur des motivations des utilisateurs, ainsi que leurs attentes et leurs besoins par rapport à un site Web ou une application. Elle est particulièrement utile lors d’une refonte ou la conception d’une nouvelle interface.
                    </p>
                    
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/group.svg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title">Groupes de Discussions</h4>
                <p class="card-text">
                    Des participants sont réunis autour d’une table pour échanger librement au sujet de leurs impressions et leurs besoins vis à vis d’une application mobile ou d’un site Web. L’ambiance interactive et le mélange des avis est propice à la compréhension des difficultés rencontrées par les utilisateurs.
                </p>
                
                </div>
            </div>
            
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/persona.svg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title">Personas</h4>
                <p class="card-text">
                    Création d’un archétype qui décrit les différents objectifs et comportements observés chez une population d’utilisateurs. Cette mise en forme synthétique des données comportementales clés, permet une compréhension approfondie de la façon dont les utilisateurs parcourent un site Web ou une application mobile.
                </p>
                
                </div>
            </div>
            
            <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
                <img class="card-img-top iconeAd" src="/images/satisfaction.svg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Questionnaires</h4>
                    <p class="card-text">
                        Sondages principalement distribués en ligne, composés de questions à choix multiples et/ou de questions ouvertes. Cette méthode permet de recueillir simplement un grand nombre de retours utilisateurs.
                    </p>

                </div>
            </div>
        </div>
    
    
        
    <div class="row my-5">
        <div class="card col bgFumee" id="anexp">
            <div class="card-body">
                <h4 class="card-title">Analyse Experte</h4>
                <div class="card-text">
                    <p>
                        Ces méthodes d’évaluation et de conception s’intéressent aux caractéristiques des interfaces d’un point de vue expert, afin de faciliter les choix lors de la conception ou de la refonte de plateformes interactives.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
            <img class="card-img-top iconeAd" src="/images/checklist.svg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Analyse Ergonomique</h4>
              <p class="card-text">
                Ces méthodes d’évaluation et de conception s’intéressent aux caractéristiques des interfaces d’un point de vue expert, afin de faciliter les choix lors de la conception ou de la refonte de plateformes interactives.
              </p>
              
            </div>
        </div>
        
        <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
            <img class="card-img-top iconeAd" src="/images/podium.svg" alt="Card image cap">
            <div class="card-body">
            <h4 class="card-title">Benchmarking</h4>
            <p class="card-text">
                La performance d’un site ou d’un application est comparée à celle des concurrents. Puis nous dressons un portrait détaillé du paysage concurrentiel d’une industrie. Les meilleurs pratiques, dont il faudrait s’inspirer, sont mises en avant de ce portrait.
            </p>
            
            </div>
        </div>
        
        <div class="card col-md-4 offset-md-0 col-10 offset-1 border-0">
            <img class="card-img-top iconeAd" src="/images/browser.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Web Analytics</h4>
                <p class="card-text">
                    Un diagnostic expert réalisé à partir des données Google Analytics permet de dresser un panorama de la situation actuelle d’un site Web, d’en mesurer la performance et de contribuer à la compréhension du comportement des visiteurs.
                </p>
                
            </div>
        </div>
    </div>

</div>

{% endblock %}